[Unit]
Description=Midi Control Tailscale Server
After=network.target

[Service]
ExecStart=/usr/bin/python /home/vladosik/.local/bin/music_server.py
Restart=always

[Install]
WantedBy=default.target
